{% for firewall_rule in firewall_rules|default([]) %}
{% if firewall_rule.name | regex_search('-v6$') %}
{% set fw_family='ipv6-name' %}
{% set effective_options = global_firewall_settings|default([]) | json_query('[].properties_v6') | flatten %}
{% set effective_rules = (global_firewall_settings|default([]) | json_query('[].rules_v6') | flatten) + firewall_rule.rules|default([]) | unique %}
{% else %}
{% set fw_family='name' %}
{% set effective_options = global_firewall_settings|default([]) | json_query('[].properties') | flatten %}
{% set effective_rules = (global_firewall_settings|default([]) | json_query('[].rules') | flatten) + firewall_rule.rules|default([]) | unique %}
{% endif %}
{% set effective_options = (effective_options + firewall_rule.properties|default([])) | unique %}
{% set query = "[?name=='"+firewall_rule.name+"'].properties" %}
{% set router_options = router_firewall_config_list | json_query(query) | flatten %}
{% for router_option in router_options %}
{% if router_option not in effective_options %}
delete firewall {{ fw_family }} {{ firewall_rule.name }} {{ router_option }}
{% endif %}
{% endfor %}
{% for option in effective_options %}
set firewall {{ fw_family }} {{ firewall_rule.name }} {{ option }}
{% endfor %}
{% for ruleset in effective_rules %}
{% if loop.index == 1 %}
{% set query = "[?name=='"+firewall_rule.name+"'].rules[?name=='"+ruleset.name|string+"'].properties" %}
{% set router_rule_options = router_firewall_config_list | json_query(query) | flatten %}
{% for router_rule_option in router_rule_options %}
{% if router_rule_option not in ruleset.properties %}
delete firewall {{ fw_family }} {{ firewall_rule.name }} rule {{ ruleset.name }} {{ router_rule_option }}
{% endif %}
{% endfor %}
{% endif %}
{% for rule in ruleset.properties|default([]) %}
set firewall {{ fw_family }} {{ firewall_rule.name }} rule {{ ruleset.name }} {{ rule }}
{% endfor %}
{% endfor %}
{% endfor %}
