{% for firewall_rule in firewall_rules_merged|default([]) %}
{% if firewall_rule.name | regex_search('-v6$') %}
{% set fw_family='ipv6-name' %}
{% set effective_options = global_firewall_settings|default([]) | json_query('[].properties_v6') | flatten %}
{% set effective_rules = (global_firewall_settings|default([]) | json_query('[].rules_v6') | flatten) + firewall_rule.rules|default([]) | unique %}
{% else %}
{% set fw_family='name' %}
{% set effective_options = global_firewall_settings|default([]) | json_query('[].properties') | flatten %}
{% set effective_rules = (global_firewall_settings|default([]) | json_query('[].rules') | flatten) + firewall_rule.rules|default([]) | unique %}
{% endif %}
{% set effective_options = (effective_options + firewall_rule.properties|default([])) | unique %}
{% for option in effective_options %}
set firewall {{ fw_family }} {{ firewall_rule.name }} {{ option }}
{% endfor %}
{% for ruleset in effective_rules %}
{% for rule in ruleset.properties|default([]) %}
set firewall {{ fw_family }} {{ firewall_rule.name }} rule {{ ruleset.name }} {{ rule }}
{% endfor %}
{% endfor %}
{% endfor %}
