{% if firewall_cleanup %}
{% include 'firewall_cleanup.j2' %}
{% endif %}
{% if firewall_process_rules %}
{% include 'firewall_main.j2' %}
{% endif %}
{% if firewall_process_zones %}
{% include 'zones.j2' %}
{% endif %}
